.medication-form {
    background-color: var(--main-accent-colour);
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    border-radius: 1rem;
  }

  .add-button,
.save-button {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  padding: 10px 100px;
  background-color: #ff9b2f;
  color: #faf8f6;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  gap: 5px;
  font-size: 20px;
}

.submit-med-button {

    background-color: #ff9b2f;
  color: #faf8f6;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    width: 90%;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.submit-med-button:hover {
  transform: translateY(-10px);
  box-shadow: 2px 2px 10px #656059;
  filter: brightness(110%);
}