.event-header {
    font-size: 2rem;
    font-weight: bold;
    color: var(--whitebackground-text-colour);
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  /* Have removed this block of code as it is not needed for the time being. */
/* .event-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh; 
  width: 100%;
  padding-top: 4rem;
} */

  .add-event-button {
    background-color: var(--secondary-accent-colour);
    color: var(--darkbackground-text-colour);
    width: 175px;
    height: 76px;
    left: 62px;
    top: 304px;
    margin: 30px;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
  }

  .add-event-button:hover {
    transform: translateY(-10px);
    box-shadow: 2px 2px 10px #656059;
    filter: brightness(110%);
  }
  
  /* Form */

  .event-form-container{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 50%;
  }

  .event-form {
    background-color: var(--main-accent-colour);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem auto;
    border-radius: 1rem;
    width: 32rem;
    align-self: center;
    padding-top: 1rem;
  }

.save-button {
    background-color: #ff9b2f;
    color: #faf8f6;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    width: 90%;
    margin-bottom: 2rem;
    margin-top: 2rem;
    align-self: center;
}

.save-button:hover {
  transform: translateY(-10px);
  box-shadow: 2px 2px 10px #656059;
}

/* Responsiveness - 420px just enough to support the iPhone XR  */
@media (max-width: 420px) { 
  .event-header {
    font-size: 2rem;
    align-items: center;
  }

  .event-button-container {
    width: 100%;
  }

  .add-event-button {
    width: 60%;
  }
  /* Form Responsiveness */

  .event-form-container{
    width: 100%;
    height: auto;
  }

  .event-form {
    width: 100%;
  }
}
