.App {
  text-align: center;
  min-width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
    width: 100vw;
}

.root{
  --main-background-color: #FAF8F6;
  --main-accent-colour: #79AABD;
  --secondary-accent-colour: #FF9B2F;
  --whitebackground-text-colour: #656059;
  --darkbackground-text-colour: #FAF8F6;
  --other-colour: #EAECDE;
  --other-colour2: #C2C2C2;
}

input {
  color:black
}
/* footer{
  background-color: #C2C2C2;
  display:flex;
  justify-content: center;
  

} */

  /* Call variable
  h1 {
  color: var(--main-background-color)
  } */
  