.App {
  text-align: center;
}

.root{
  --main-background-color: #FAF8F6;
  --main-accent-colour: #79AABD;
  --secondary-accent-colour: #FF9B2F;
  --whitebackground-text-colour: #656059;
  --darkbackground-text-colour: #FAF8F6;
  --other-colour: #EAECDE;
  --other-colour2: #C2C2C2;
}

  /* Call variable
  h1 {
  color: var(--main-background-color)
  } */