.fnf-header {
  color: var(--whitebackground-text-colour);
  font-size: 2rem;
  font-weight:bold;
  padding: 2rem;
}

.fnf-card {
  object-fit: fill;
} 

.add-button,
.save-button {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  padding: 10px 100px;
  background-color: #ff9b2f;
  color: #faf8f6;
  border: none;
  border-radius: 30px;
  margin:30px;
  cursor: pointer;
  gap: 5px;
  font-size: 20px;
}

.save-button {
  padding: 10px 20px;
  margin: 10px 40px;

}

.add-button:hover,
.save-button:hover {
  transform: translateY(-10px);
  box-shadow: 2px 2px 10px #656059;
  filter: brightness(110%);
}

/* This is the container for all of the family and friends cards */
#fnf-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 2rem;
  
}

.fnf-form {
  background-color: var(--main-accent-colour);
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  border-radius: 1rem;
}

label {
  display: flex;
  flex-direction: column;
  background-color: var(--main-accent-colour);
  margin: 0.5rem;
  color: var(--darkbackground-text-colour);
  font-size: 20px;
}

input {
  background-color: var(--main-background-color);
  margin: 0.5rem;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem;
  font-size: 20px;
  color: var(--whitebackground-text-colour);
}
