@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-background-color: #faf8f6;
  --main-accent-colour: #79aabd;
  --secondary-accent-colour: #ff9b2f;
  --whitebackground-text-colour: #656059;
  --darkbackground-text-colour: #faf8f6;
  --other-colour: #eaecde;
  --other-colour2: #c2c2c2;
  --main-font-family: 'Quicksand', sans-serif;  

}

*{
   font-family:'Quicksand'; /*Short term solution, return to add to root later. */
  /* background-color: var(--main-background-color); */
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}

.dashboard-message {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5em;
  font: var(--main-font-family);
  color: var(--whitebackground-text-colour);
}

.button-container button {
  background-color: var(--secondary-accent-colour);
  color: var(--darkbackground-text-colour);
  width: 275px;
  height: 146px;
  left: 62px;
  top: 304px;
  margin: 10px;
  font-size: 20px;
  border-radius: 30px;
  border: none;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button-container button:hover {
  transform: translateY(-10px);
  box-shadow: 2px 2px 10px #656059;
}
