.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    width: 100%;
  }
  
  .footer {
    background-color: #C2C2C2;
    color: #FAF8F6;
    width: 100%;
    padding: 0px;
    transition: transform 0.3s;
    transform: translateY(100%);
  }
  
  .show {
    transform: translateY(0%);
  }
  
  .content.with-footer {
    padding-bottom: 60px; /* Adjust the padding to accommodate the footer's height */
  }
  