/* .medList{
list-style-type: none;
display: flex;
justify-content: space-between;

} 
/* ul {  
list-style-type: none;  
display: flex;
justify-content: space-between;

}   */

/* li {
    list-style-type: none;
        display: flex;
        justify-content: space-between;

}  */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: var(--main-background-color);
}

.medication-container {
  background-color: var(--main-accent-colour);
  width: 60%;
  padding: 1rem;
  border-radius: 2rem;
}

.medList {
  display: flex;
  justify-content: space-between;
  padding: 0;
  display: grid;
  grid-template-columns: 2fr 0.5fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  /* Full stops represent the number of columns in the grid */
  grid-template-areas:
    ". . . ."
    ". . . .";
}

.dosage-title{
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--main-background-color);
  padding: 1rem;
  padding-bottom: 2rem;
}

.medication-container-white {
  background-color: var(--main-background-color);
  border-radius: 1.5rem;
}

.medication-container-white{
}

/* .medList li {
    flex: 1;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
} */

.time-column {
  display: flex;
  flex-direction: column;
}
