@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: bold;
  src: url("./fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
} */
